@font-face {
	font-family: 'Mosk Normal 400';
	src: url('MoskNormal400.eot');
	src: url('MoskNormal400.eot?#iefix') format('embedded-opentype'),
		url('MoskNormal400.woff2') format('woff2'),
		url('MoskNormal400.woff') format('woff'),
		url('MoskNormal400.ttf') format('truetype'),
		url('MoskNormal400.svg#MoskNormal400') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mosk Bold 700';
	src: url('MoskBold700.eot');
	src: url('MoskBold700.eot?#iefix') format('embedded-opentype'),
		url('MoskBold700.woff2') format('woff2'),
		url('MoskBold700.woff') format('woff'),
		url('MoskBold700.ttf') format('truetype'),
		url('MoskBold700.svg#MoskBold700') format('svg');
	font-weight: bold;
	font-style: normal;
}
html, body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  font-family: 'Mosk Normal 400';
  font-size: 16px;
  height:100%;

}

header {
  background: -webkit-linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  /*border-bottom: 1px solid #FF9800;*/
  margin:0;
  padding:0;
  display: table;
  width: 100%;
  height: 700px;
}
/*
.navigation {
  display:flex;
  flex-direction:column;
  padding:0;

}

.navigation_list {
  display:flex;
  list-style: none;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding:0;
}*/
/*
.navigation_item a{
  text-decoration: none;
  font-weight: bold;
  display:flex;
  padding:.5rem;
  margin:.5rem;
  font-size: 1.5rem;
  color:#eee;
  text-align: center;
  cursor:pointer;
  border-bottom: 2px solid #eee;
}

.pagelink {
  text-decoration: none;
}

.navigation_item:hover a{
  color: #FF9800;
  border-color: #FF9800;
}*/

.main {
  color:#fff;
  display:table-cell;
  font-weight: bold;
  vertical-align: middle;
}

.main-intro_name{

}

.main-intro_title{
  padding:0;
  font-size:60px;
  font-weight: bold;
  /*text-shadow: 1px 1px #000;*/
  text-align: center;
  margin:0;
}

.main-intro_text {
  font-size:20px;
  /*text-shadow: 1px 1px #000;*/
  padding:1rem;
  margin-bottom:0;
  text-align: center;
}

#about {
  margin:4rem 2rem;
}

strong {
  font-weight: bold;
  color: rgba(34,125,170,1);
}


.about-title {
  font-size:26px;
  font-weight:bold;
  margin:2rem 2rem 2rem 0;
  float:left;
  color: rgba(34,125,170,1);
}

.about-text {
  font-size:16px;
  width: 50%;
  margin:0 auto;
}



#projects {
  margin:2rem;
}

.projects-title {
  font-size:26px;
  font-weight:bold;
  vertical-align: middle;
  float:left;
  color: rgba(34,125,170,1);
  margin:11rem 2rem 10rem 0;
}

.projects-intro {
  font-size:18px;
  font-weight:bold;
  /*margin:0 auto;*/
  text-align: center;
  padding:5px;
}

.projects-each {
  display:flex;
  padding:1rem;
  margin-left:5rem;
}

.projects-name {
  font-size:18px;
  font-weight:bold;
  /*margin:0 auto;*/
  width:30%;
  margin:0;


}
.projects-name a{
  color: rgba(34,125,170,1);
  cursor:pointer;
  text-decoration: none;
  font-weight:bold;
}

.projects-name a:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
}

.projects-text {
  margin:0;
  padding:0;
  font-size:16px;
  width: 60%;
  /*margin:0 auto;*/
}

#contact {
  margin:2rem;
}

.fa {
  color: rgba(34, 125, 170, 1);
  text-decoration: none;
  margin:3rem;
}

.fa:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
  text-decoration: none;

}

.contact-title {
  font-size:26px;
  font-weight:bold;
  margin:3rem 2rem;
  float:left;
  color: rgba(34,125,170,1);
}

.contact-text a {
  color: rgba(34, 125, 170,1);
  text-decoration: underline;
  font-size:20px;
  font-weight: bold;
  padding:5px;
}

.contact-text a:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
}

.contact-text {
  color: rgba(34, 125, 170, 1);
  text-align: center;
  margin: 1rem;
  font-size: 18px;
}


.golf-picture {
  background-image: url('rydercup.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.overwatch-picture {
  height:80%;
  background-image: url('Numbani_003.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.tech-picture {
  background-image: url('laptopcoffee.jpg');
  height:80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
