/*@font-face {
	font-family: 'Mosk Normal 400';
	src: url('MoskNormal400.eot');
	src: url('MoskNormal400.eot?#iefix') format('embedded-opentype'),
		url('MoskNormal400.woff2') format('woff2'),
		url('MoskNormal400.woff') format('woff'),
		url('MoskNormal400.ttf') format('truetype'),
		url('MoskNormal400.svg#MoskNormal400') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/*@font-face {
	font-family: 'Mosk Bold 700';
	src: url('MoskBold700.eot');
	src: url('MoskBold700.eot?#iefix') format('embedded-opentype'),
		url('MoskBold700.woff2') format('woff2'),
		url('MoskBold700.woff') format('woff'),
		url('MoskBold700.ttf') format('truetype'),
		url('MoskBold700.svg#MoskBold700') format('svg');
	font-weight: bold;
	font-style: normal;
}*/
html, body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  font-family: 'Arial';
  font-size: 16px;
  height:100%;

}

header {
  background: -webkit-linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  /*border-bottom: 1px solid #FF9800;*/
  margin:0;
  padding:0;
  display: table;
  width: 100%;
  height: 700px;
}

.main {
  color:#fff;
  display:table-cell;
  font-weight: bold;
  vertical-align: middle;
}

.main-intro_title{
  padding:0 5px;
  font-size:48px;
  font-weight: bold;
  /*text-shadow: 1px 1px #000;*/
  text-align: center;
  margin:0;
}

.main-intro_text {
  font-size:20px;
  /*text-shadow: 1px 1px #000;*/
  padding:1rem;
  margin:0;
  text-align: center;
}

#about {
  margin:4rem 2rem;
}

strong {
  font-weight: bold;
  color: rgba(34,125,170,1);
}


.about-title {
  font-size:26px;
  font-weight:bold;
  margin:2rem 2rem 2rem 0;
  float:left;
  color: rgba(34,125,170,1);
}

.about-text {
  font-size:16px;
  width: 50%;
  margin:0 auto;
}



#projects {
  margin:2rem;
}

.projects-title {
  font-size:26px;
  font-weight:bold;
  vertical-align: middle;
  float:left;
  color: rgba(34,125,170,1);
  margin:11rem 2rem 10rem 0;
}

.projects-intro {
  font-size:18px;
  font-weight:bold;
  /*margin:0 auto;*/
  text-align: center;
  padding:5px;
}

.projects-each {
  display:flex;
  padding:1rem;
  margin-left:5rem;
}

.projects-name {
  font-size:18px;
  font-weight:bold;
  /*margin:0 auto;*/
  width:30%;
  margin:0;


}
.projects-name a{
  color: rgba(34,125,170,1);
  cursor:pointer;
  text-decoration: none;
  font-weight:bold;
}

.projects-name a:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
}

.projects-text {
  margin:0;
  padding:0;
  font-size:16px;
  width: 60%;
  /*margin:0 auto;*/
}

#contact {
  margin:2rem;
}

.fa {
  color: rgba(34, 125, 170, 1);
  text-decoration: none;
  margin:3rem;
}

.fa:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
  text-decoration: none;

}

.contact-title {
  font-size:26px;
  font-weight:bold;
  margin:3rem 2rem;
  float:left;
  color: rgba(34,125,170,1);
}

.contact-text a {
  color: rgba(34, 125, 170,1);
  text-decoration: underline;
  font-size:20px;
  font-weight: bold;
  padding:5px;
}

.contact-text a:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
}

.contact-text {
  color: rgba(34, 125, 170, 1);
  text-align: center;
  margin: 1rem;
  font-size: 18px;
}


.golf-picture {
  background-image: url('rydercup.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.overwatch-picture {
  height:80%;
  background-image: url('Optimized-Numbani_003.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.tech-picture {
  background-image: url('laptopcoffee.jpg');
  height:80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}


/*@media (min-width: 360px) {
  .main-intro_title {
    font-size:34px;
    padding:.5rem;
  }

  .main-intro_text {
    font-size:15px;
    padding:.5rem;
  }

  #about {
  text-align: center;
  display:flex;
  flex-direction: column;
  margin:1.5rem;

  }

  .about-title {
    text-align: center;
    font-size:24px;
    padding:0;
    margin:1rem 0 1rem 0;
  }

  .about-text {
    width:100%;
    font-size:14px;
    margin:0;
  }

  #projects {
    text-align: center;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:5px;
  }

  .projects-title {
    text-align: center;
    font-size:24px;
    padding:0;
    margin:1rem 0 1rem 0;
  }

  .projects-intro {
    font-size:14px;
    margin:0 0 10px 0;
    padding:0;
  }

  .projects-each {
    display:flex;
    flex-direction: column;
    margin:0;
    padding:5px;
  }

  .projects-name {
    font-size:18px;
    text-align: center;
    width:100%;
    margin:0;
    padding:0;
  }
  .projects-name a{
    font-size: 16px;
    text-align: center;
    margin:0;
    padding:0;

  }

  .projects-name a:hover {
  }

  .projects-text {
    width:100%;
    font-size:14px;
    margin:10px;
    padding:0;
  }

  #contact {
  }

  .fa.fa-2x {
    font-size:1em;
    padding:5px;
  }

  .contact-title {
    font-size:24px;
    margin:0;
  }

  .contact-text a {
    color: rgba(34, 125, 170,1);
    font-size:18px;
    margin:.5srem;
  }

  .contact-text a:hover {
    color: rgba(34, 95, 170,1);
    cursor:pointer;
  }

  .contact-text {
    color: rgba(34, 125, 170, 1);
    text-align: center;
    margin: 1rem;
    font-size: 18px;
  }


}*/

@media (min-width: 700px) {
  header {
    height:700px;
  }

  .main-intro_title{
  font-size:60px;
}
