/*@font-face {
	font-family: 'Mosk Normal 400';
	src: url('MoskNormal400.eot');
	src: url('MoskNormal400.eot?#iefix') format('embedded-opentype'),
		url('MoskNormal400.woff2') format('woff2'),
		url('MoskNormal400.woff') format('woff'),
		url('MoskNormal400.ttf') format('truetype'),
		url('MoskNormal400.svg#MoskNormal400') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/*@font-face {
	font-family: 'Mosk Bold 700';
	src: url('MoskBold700.eot');
	src: url('MoskBold700.eot?#iefix') format('embedded-opentype'),
		url('MoskBold700.woff2') format('woff2'),
		url('MoskBold700.woff') format('woff'),
		url('MoskBold700.ttf') format('truetype'),
		url('MoskBold700.svg#MoskBold700') format('svg');
	font-weight: bold;
	font-style: normal;
}*/
html, body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  font-family: 'Arial';
  font-size: 16px;
  height:100%;

}

header {
  background: -webkit-linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: -o-linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  background: linear-gradient(rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
  /*border-bottom: 1px solid #FF9800;*/
  margin:0;
  padding:0;
  display: table;
  width: 100%;
  height: 700px;
}

.main {
  color:#fff;
  display:table-cell;
  font-weight: bold;
  vertical-align: middle;
}

.main-intro_title{
  padding:0 5px;
  font-size:48px;
  font-weight: bold;
  /*text-shadow: 1px 1px #000;*/
  text-align: center;
  margin:0;
}

.main-intro_titletwo{
  padding:0 5px;
  font-size:40px;
  font-weight: bold;
  /*text-shadow: 1px 1px #000;*/
  text-align: center;
  margin:0;
}

.main-intro_text {
  font-size:20px;
  /*text-shadow: 1px 1px #000;*/
  padding:1rem;
  margin:0;
  text-align: center;
}

#about {
  text-align: center;
  display:flex;
  flex-direction: column;
  margin:2rem .75rem;
}

strong {
  font-weight: bold;
  color: rgba(34,125,170,1);
}

.about-title {
  text-align: center;
  font-size:24px;
  font-weight:bold;
  padding:0;
  margin:1rem 0 1rem 0;
  color: rgba(34,125,170,1);
}

.about-text {
  width:85%;
  margin:0 auto;
}


#projects {
  text-align: center;
  display:flex;
  flex-direction: column;
  margin:.75rem;
}

.projects-title {
  text-align: center;
  font-size:24px;
  padding:0;
  margin:1rem 0 1rem 0;
  font-weight:bold;
  color: rgba(34,125,170,1);
}

.projects-each {
  display:flex;
  flex-direction: column;
  margin:0;
  padding:10px;
}

.projects-name {
  text-align: center;
  width:85%;
  padding:5px;
  font-size:20px;
  font-weight:bold;
  margin:0 auto;


}
.projects-name a{
  font-size: 20px;
  text-align: center;
  margin:0;
  padding:0;
  color: rgba(34,125,170,1);
  cursor:pointer;
  text-decoration: none;
  font-weight:bold;
}

.projects-name a:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
}

.projects-text {
  width:80%;
  padding:0;
  margin:0 auto;
}


#contact {
  /*margin:2rem;*/
}

.fa {
  color: rgba(34, 125, 170, 1);
  text-decoration: none;
  padding:.5rem;
  margin-top: 1rem;
}

.fa:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
  text-decoration: none;

}

.contact-title {
  font-size:26px;
  font-weight:bold;
  margin:3rem 2rem;
  float:left;
  color: rgba(34,125,170,1);
}

.contact-text a {
  color: rgba(34, 125, 170,1);
  text-decoration: underline;
  font-size:18px;
  font-weight: bold;
  padding:5px;
}

.contact-text a:hover {
  color: rgba(34, 95, 170,1);
  cursor:pointer;
}

.contact-text {
  color: rgba(34, 125, 170, 1);
  text-align: center;
  margin: 1rem;
  font-size: 18px;
}


.golf-picture {
  background-image: url('rydercup.jpg');
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.overwatch-picture {
  height:80%;
  background-image: url('Optimized-Numbani_003.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.tech-picture {
  background-image: url('laptopcoffee.jpg');
  height:80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

/* --------Media Queries-------- */

/* --------Media Queries-------- */
@media (min-width: 600px) {


  .main {
    color:#fff;
    display:table-cell;
    font-weight: bold;
    vertical-align: middle;
  }

  .main-intro_title{
    font-size:60px;
  }

  .main-intro_titletwo{
    font-size:48px;
  }

  .main-intro_text {
    font-size:22px;
    /*text-shadow: 1px 1px #000;*/
    padding:1rem;
    margin:0;
    text-align: center;
  }

  #about {
    display:flex;
    margin:2rem;
  }

  .about-title {
    margin:0;
    padding-bottom:20px;
  }

  .about-text {
    width: 65%;
    margin:0 auto;
  }

  #projects {
    display:flex;
    margin:2rem;
  }

  .projects-title {
    margin:0;
    padding-bottom:20px;
  }

  .projects-each {
    padding:1rem;
  }

  .projects-name {
    width:65%;
    margin:0 auto;
  }

  .projects-text {
    margin:0 auto;
    padding:0;
    width: 65%;
  }

  .fa {
    margin:1rem;
  }

}

@media (min-width: 900px) {

    #about {
      text-align: left;
      margin:2rem 0 2rem 1rem;
      display:flex;
      flex-direction: row;
      align-items:center;
    }

    .aboutwrapper {
      margin:0;
      padding:0;
    }

    .about-title {
      text-align: left;
      margin: 0 0 0 1rem;
      flex: 0 1 30%;
    }

    .about-text {
      width: 65%;
      margin-left:1rem;
    }

    #projects {
      text-align: left;
      margin:2rem 0 2rem 1rem;
      display:flex;
      flex-direction: row;
      align-items:center;
    }

    .projectwrapper {
      margin:0;
      padding:0;
    }

    .projects-title {
      text-align:left;
      flex: 0 1 25%;
      margin: 0 0 0 1rem;
    }

    .projects-each {
      margin:0;
      padding: 0;
    }

    .projects-name {
      margin:0 auto;
      width:100%;
    }

    .projects-text {
      margin:0 auto;
      padding:0;
      width: 65%;
    }

}
